.container{
  width: 100%;
  min-height: 100vh;
}

.searchBar{
  width: 1200px;
  height: 92px;
}

.body {
  width: 1200px;
  display: flex;
}

.todoBox{
  width: 49%;
}
.icon{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-top: 5px;
}
.icon>img {
  width: 101px;
  height: 36px;
}

.doneBox{
  width: 49%;
}
.contentsTodo{
  width: 100%;
  display: block;
}

.contentsDone{
  width: 100%;
  display: block;
}

.searchBox{
  width: 100%;
  height: 56px;
  margin-top: 18px;
  display: flex;
}
.inputBox{
  position: relative;
  max-width: 100%;
  height: 56px;
}

.inputBtn{
  width: 100%;
}

@media (max-width: 744px) {
  .searchBar{
    width: 100%;
    height: 92px;
  }
  .body {
    width: 100%;
    display: block;
  }
  .todoBox{
    width: 100%;
  }
  .doneBox{
    width: 100%;
  }

  .inputBox{
    position: relative;
    max-width: 70%;
    height: 56px;
  }

}